@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  margin-top: 0;
}
.header-image {
  display: none;
}

/* md:absolute md:flex hidden */
@media (min-height: 767px) and (min-width: 767px) {
  .header {
    margin-top: -9rem;
  }
  .header-image {
    position: absolute;
    display: flex;
  }
}